.top {
    margin: 0;
    margin-bottom: 5%;
    padding-bottom: 0.5%;
    width: 100%;
    height: 2px;
    /* background-color: #1E8FFF; */
    /* background-color:rgba(14, 17, 14, 0.281);; */
    background-color:rgba(30, 143, 255, 0.76);;
}
.line-horizontal {
    margin: 0;
    margin-bottom: 5%;
    padding-top: 0.1%;
    width: 100%;
    height: 1px;
    /* background-color: #1E8FFF; */
   background-color:rgba(30, 143, 255, 0.76);;
}
body {
    margin: 0px;
}

.front{
    margin-top: 10%;
    margin-bottom: 25%;
}

.header > ul{
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 0%;
    box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.226);
    
}
.header > ul > li{
    padding: 10px 50px 3px 50px;
    align-items: center;
    
}
.header > ul > li >a {
    text-decoration: none;
    color: rgb(110, 113, 116);
    text-shadow: rgba(11, 17, 24, 0.424);
}
.header > ul > li >a:hover {
    color: rgb(2, 150, 248);
    transition: 0.01s;
    -webkit-transition: all 0.03s ease-in-out 0s;
    
}

.nav > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    /* justify-content: center; */
    box-shadow: 1px 2px 2px 1px rgba(128, 128, 128, 0.226);
    padding-top: 10px;
    padding-bottom: 0px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav > ul > li {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 25px 50px 10px 50px; 
    margin: 0;
    text-decoration: none;
    /* align-content: center; */
}
.cnav > ul > li > a{
   text-decoration: none;
   /* color: rgb(8, 101, 223); */
   color: rgb(93, 94, 95);
}
.nav > ul > li > a:hover{
   text-decoration: none;
   /* color: rgb(8, 101, 223); */
   color: rgba(30, 143, 255, 0.952);
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right:40px; 
    padding-bottom: 20px;
    
    /* background-color: azure; */
}

.card {
    
        /* background-color: rgb(199, 205, 207); */
        background-color:rgba(30, 143, 255, 0.76);
    /* background-color: rgb(2, 72, 90); */
    width: 100%;
    height: 600px;
    /* flex-flow: row; */
    /* box-shadow: rgba(88, 107, 126, 0.952); */
    box-shadow: 3px 5px 10px 4px rgba(171, 175, 185, 0.651);
    /* cursor: pointer; */
    padding-left: 5px;
    padding-right: 5px;
    /* box-shadow: 4px 5px 5px 1px rgba(128, 128, 128, 0.226); */
    transition: 1s;
    -webkit-transition: 0.4s;
    
}
.card > .cardTitle{
    font-family: cursive;
    color: #1E8FFF;
    height: 25%;
    background-color: rgb(226, 229, 231);

}
/* .card:hover {
    
    background-color: rgba(207, 199, 199, 0);
    /* background-color: rgb(2, 72, 90); */
    /* width: 100%; */
    /* height: 80px; */
    /* flex-flow: row; */
    /* box-shadow: rgba(88, 107, 126, 0.952); */
    /* box-shadow: 3px 5px 10px 4px rgba(5, 69, 245, 0.226);
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px; */
/* } */ 
/* .card:active {
    
    background-color: rgba(207, 199, 199, 0);
    width: 100%;
    height: 75%;
    flex-flow: row;
    /* box-shadow: rgba(88, 107, 126, 0.952); */
    /* box-shadow: 3px 2px 10px 2px rgba(25, 57, 153, 0.397); */
    /* cursor: pointer; */
/* } */

.title {
    padding: 20px 0 0 0;
    color: rgb(93, 94, 95);
    padding-left: 60px;
    /* margin: 1px; */
}

.fa
{
    color: rgba(30, 143, 255, 0.952);
}

img {
    width: 200px;
    height: 400px;
    object-fit: scale-down;
}

.center {
justify-content: center;
text-align: center;
}
.centerButton {
    margin-top: 20px;
    /* margin-left: 40%; */
    /* margin-right: 40%; */
/* float: right; */
text-align: center;
padding-bottom: 7px;
padding-top: 7px;
background-color:  rgb(0, 204, 255);
border: none;

    display: inline-block;
    vertical-align: top;
}

.welcome {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
font-weight: 100;
/* color: rgb(112, 114, 116); */
color: #1E8FFF;
}


.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    animation-name: fadeInUp;
}